body{
    background: url('images/texture.jpg') no-repeat fixed;
    background-size:cover;
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
#header-wrapper{
   background: url('images/header image.png') no-repeat;
   background-size: cover;
   width: 1200px;
   margin: 0 auto;
}
header{
    padding: 10px 30px 0px 30px; 
}

#social-media ul{
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    padding:0;
    margin:0;
    
}
#social-media a{
    display: block;
    text-decoration: none;   
    width:100px;
    height:100px;
}
#social-media a:hover{
    transform: scale(0.9);
    transform: translateY(-5px);
}
#social-media li{
    width:100px;
    height:100px;
    margin-right:15px;
}
#logo-menu ul{
    margin: 0px;
}
#logo-menu ul{
    list-style-type:none;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom:0px !important;
}
#logo-menu li{
    padding: 0;
}
#logo-menu a{
    display: block;
    text-decoration: none;  
    padding: 0;  
}
#logo-menu a:hover{
    transform: scale(0.9);
    transform: translateY(-5px);
}
#logo-menu li:first-child, #logo-menu a:first-child{
    margin-right: auto;
    padding:0;
    height: 146px;
    margin-left:0;
}
#logo-menu li{
}
#logo-menu li:nth-child(2), li:nth-child(3){
    align-self: flex-end;
    height:85px;
    width: 161px;
    margin:0;
    padding:0;
}
#logo-menu li:nth-child(4),li:nth-child(5){
    align-self: flex-end;
    padding:0;
    margin: 0;
    height: 83px;
}
.mobile {
    position: absolute;
    top: 5%;
    left:0;
    right:0;
    visibility: hidden; 
}

.mobile ul{
    list-style-type:none;
    width: 100%;
    background-color: #000000;
    padding:0;
    margin: 0;
}
.mobile a{
    text-decoration: none;
    color: #ffffff;
    width:100%;
    display: block;
    height:100%;
    padding:15px 0;
}
.mobile li{
    border: 1px solid rgba(255,255,255,0.2);
    text-align: center;
    margin:0;
    
    width:100%;
    height: 100%;
}
.mobile img{
    width:45%;
}
.wrap{
    width:1200px;
    margin: 0 auto;
    
}
.about{
    width: 1200px;
    height: 478px;
    background: url('images/yellow-background.png')no-repeat;
    background-size: cover;
    margin:0;
}
.about-mobile{
    display:none;
}
.mobile-menu a:hover{
    opacity:0.65;
}

.overflow{
    height:413px;
}
.overflow-mobile{
    display:none;
}
.gallery{
    position: relative;
    height: 600px;
    width: 1200px;
    padding:0;
    margin:0;
}
.gallery-image{
    position: absolute;
    top:0%;
    left: 0%;
    height: 600px;
    width:1200px;
    z-index: 0;
}
.mobile-gallery{
    display:none;
}
.more img{
    z-index: 5;
    position: absolute;
    bottom: 2%;
    right: 5%;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.more img:hover{
    transform: translateY(-12px);

}
.video_container{
    float: right;
}
.media::after{
    content: "";
    clear: both;
    display: table;
}
.media{
    padding: 40px;
    background: url('images/yellow-background.png') no-repeat fixed center;
    background-size: cover;
}
.text h3{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    color: white;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}
.text p{
    font-size: 1.9em;
    color:white;
    font-family: 'Poppins',sans-serif;
}

.location{
    width:1200px;
    margin: 0 auto;
    height: 450px;
}
footer{
    width:1200px;
    margin: 0 auto;
    background: url('images/background.jpg') no-repeat fixed;
    background-size: cover;
    margin-top:0;
    padding:20px;
    box-sizing: border-box;
}

footer input[type=text], input[type=email]{
    width: 650px;
    border-radius: 10px;
    height: 35px;
}
footer input[type=text]:focus, input[type=email]:focus{
    outline: none;
    background-color: #ddd;
}
footer p{
    line-height: 0.6;
    color: #ffffff;
}
footer h3{
    font-size: 1.9em;
    color:white;
    font-family: 'Poppins',sans-serif;
}

.contact{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Poppins',sans-serif;
}
button{
    padding: 10px 35px;
    background-color: #CADC17;
    color: white;
    font-size: 1.5em;
    border-radius: 15px;
    cursor: pointer;
}
.copyright{
    width:1200px;
    margin: auto;
    padding: 10px;
    background-color:#F2FE73;
    text-align: center;

}
/*Media Queries for Mobile*/
@media screen and (max-width:1000px){
    *{
        box-sizing: border-box;
    }
    
    #header-wrapper{
        width: 100%;
    }
    .social-media{display:none;}
    #logo-menu{visibility:hidden;}
    .nav img{
        display:none;
        background-color:pink;
    }
    .mobile{visibility: visible;
    z-index: 2;
    opacity: 1;
    }
    .toggle{
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding:10px;
    }
    .toggle img{
        width:65%;
    }
    .menu-box {
        opacity: 0;
        transition: 0.5s ease-in-out;
        pointer-events: none;
    }
    .hamburger{
        width:55px;
        position: relative;
        cursor:pointer;
    }
    .hamburger div{
        
        height:8px;
        background-color:white;
        margin-bottom:6px;
        border-radius: 5px;
        box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
        transition: 0.5s ease-in-out;
    }
    .hamburger.click .top{
        transform: rotate(45deg) 
        translate(0,19px);
    }
    .hamburger.click .middle{
        transform: translateX(0px);
        opacity:0;
    }
    .hamburger.click .bottom{
        transform: rotate(-45deg) translate(0,-19px);
    }
    .hamburger span{
        border: 2px solid white;
        height:65px;
        width:65px;
        position:absolute;
        top:-15px;
        right:-4.5px;
        transition: 0.5s ease-in-out;
    }
    .hamburger.click span{
        border: 2px solid white;
        height:65px;
        width:65px;
        position:absolute;
        top:-15px;
        right:9px;
        border-radius: 50%;
        }
    .menu-box.click {
        opacity:1;
        transition: 0.5s ease-in-out;
        pointer-events: visible;
    }
    .about{
        display:none;
        position: absolute;
    }
    .wrap{
        position: relative;
        width:100%;
    }
    .about-mobile{
        background:url('images/yellow-background.png')no-repeat;
        background-size: cover;
        width: 100%;
        display: block;
        position: relative;
        top:0px;
        padding: 35px;
        font-size: 1.6em;
        font-family: 'Kalam',cursive;
        color: white;
        line-height: 2;
        text-shadow: 2px 3px 4px rgba(0,0,0,0.4);
        text-align: center;
    }
    .about-mobile::after{
        content:"";
        clear:both;
        display:table;
    }
    .about-mobile div{
        width: 75%;
        float: right;
    }
    .overflow{
        display:none;
    }
    .overflow-mobile{
        display:block;
        width:100%;
        padding:0;
        background: url('images/overflow2.png')no-repeat;
        background-size:cover;
        position: relative;
    }
    .overflow-mobile img{
        width:100%;
        height:auto;  
    }
    .hide{opacity:0;
         width:40%;}
    
    .show{position: absolute;
    top:-20%;
    left:10px;
    width: 40%;}

    .gallery{display:none;
    width:100%;}

    .mobile-gallery{
    display:block;
    padding:20px;
    background:url('images/gallery background.png') no-repeat;
    background-size: cover;
    position:relative;
    }
    .mobile-gallery img{
        display:block;
        margin: 0 auto;
        width:50%;
    }
    .card{
        padding:35px 0px;
    }
    .cta img:hover{
        transform: scale(0.9);
    }
    .cta img:focus, .cta img:active{
        opacity:0.7;
    }
    .media,{
        width:100%;
        padding:15px;
    }
    .media .video_container{
        width:100%;
    }
    iframe{
        display:block;
        margin:0 auto;
        width:100%;
    }
    .media .text{
        width: 100%;
        text-align:center;
    }
    .location{
        width:100%;
    }
    .location iframe{
        width:100%;
    }
    footer{
        width: 100%;
        
    }
    footer input[type=text], input[type=email]{
        width:100%;
    }
    .contact{
       display: block;
       padding:15px;
    }
    .message, .form-group, .copyright{
        width:100%
    }
    body{
        width: 100%;
        padding:0px;;
        margin:0;
    }
    .wrapper{
        width:100%;
        margin: auto;
    }
    
    
}